In [78]:
%load_ext sql
%sql mysql://root:password@localhost/pizza_project

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [79]:
%%sql
RENAME TABLE `Order` TO `orders`;

 * mysql://root:***@localhost/pizza_project
(MySQLdb.OperationalError) (1050, "Table 'orders' already exists")
[SQL: RENAME TABLE `Order` TO `orders`;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [80]:
%%sql

SHOW TABLES;

 * mysql://root:***@localhost/pizza_project
17 rows affected.

[('customer',),
 ('customerdiscount',),
 ('customers',),
 ('delivery',),
 ('delivery_persons',),
 ('deliveryperson',),
 ('dessert',),
 ('discountcode',),
 ('drink',),
 ('earningsreport',),
 ('ingredient',),
 ('order',),
 ('order_items',),
 ('orderitem',),
 ('orders',),
 ('pizza',),
 ('pizzaingredient',)]

In [81]:
%%sql
DESC Dessert;

 * mysql://root:***@localhost/pizza_project
3 rows affected.

[('DessertID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'varchar(255)', 'YES', '', None, ''),
 ('Price', 'decimal(10,2)', 'YES', '', None, '')]

In [82]:
%%sql
SELECT * FROM Dessert;
DESC Dessert;

 * mysql://root:***@localhost/pizza_project
5 rows affected.
3 rows affected.

[('DessertID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'varchar(255)', 'YES', '', None, ''),
 ('Price', 'decimal(10,2)', 'YES', '', None, '')]

In [83]:
%%sql
SELECT * FROM Ingredient LIMIT 5;

 * mysql://root:***@localhost/pizza_project
5 rows affected.

[(1, 'Base', Decimal('2.00'), 1, 1),
 (2, 'Cheese', Decimal('0.50'), 1, 0),
 (3, 'Sauce', Decimal('0.50'), 1, 1),
 (4, 'Pepperoni', Decimal('1.00'), 0, 0),
 (5, 'Mushrooms', Decimal('0.75'), 1, 1)]

In [84]:
%%sql

SELECT * FROM orders;

 * mysql://root:***@localhost/pizza_project
0 rows affected.

[]