In [1]:
from Orders.OrdersManagement import get_financial_summary, orders_to_pizzas, get_orders_by_status
from IPython.display import clear_output
import time

In [4]:
get_financial_summary(month="October", age_group="15-25")

2024-10-14 16:24:07,608 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-14 16:24:07,608 INFO sqlalchemy.engine.Engine SELECT orders.`OrderID` AS `orders_OrderID`, orders.`CustomerID` AS `orders_CustomerID`, orders.`OrderDate` AS `orders_OrderDate`, orders.`OrderStatus` AS `orders_OrderStatus`, orders.`EstimatedDeliveryTime` AS `orders_EstimatedDeliveryTime`, orders.`TotalPrice` AS `orders_TotalPrice`, orders.`DiscountApplied` AS `orders_DiscountApplied`, orders.`IsGrouped` AS `orders_IsGrouped`, orders.`DeliveryPersonID` AS `orders_DeliveryPersonID`
FROM orders
2024-10-14 16:24:07,609 INFO sqlalchemy.engine.Engine [cached since 86.49s ago] {}
2024-10-14 16:24:07,611 INFO sqlalchemy.engine.Engine SELECT customers.`CustomerID` AS `customers_CustomerID`, customers.`Name` AS `customers_Name`, customers.`Gender` AS `customers_Gender`, customers.`Birthdate` AS `customers_Birthdate`, customers.`PhoneNumber` AS `customers_PhoneNumber`, customers.`Address` AS `customers_Address`, customers.`PostalCode` AS `customers_PostalCode`, customers.`Username` AS `customers_Username`, customers.`Password` AS `customers_Password`, customers.`PizzasOrderedCount` AS `customers_PizzasOrderedCount`, customers.`CreatedAt` AS `customers_CreatedAt`, customers.`IsNext10Discount` AS `customers_IsNext10Discount`
FROM customers
WHERE customers.`CustomerID` = %(CustomerID_1)s
 LIMIT %(param_1)s
2024-10-14 16:24:07,611 INFO sqlalchemy.engine.Engine [cached since 86.49s ago] {'CustomerID_1': 3, 'param_1': 1}
2024-10-14 16:24:07,612 INFO sqlalchemy.engine.Engine ROLLBACK

TypeError: 'getset_descriptor' object is not callable

In [2]:
for i in range(1, 10000):
    clear_output(wait=True)
    orders = get_orders_by_status('Preparing')
    df = orders_to_pizzas()  # Ensure orders_to_pizzas() processes 'orders' and returns a DataFrame
    if not df.empty:
        display(df.head())
    time.sleep(3)

2024-10-14 16:21:02,222 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-10-14 16:21:02,222 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-14 16:21:02,223 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-10-14 16:21:02,224 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-14 16:21:02,225 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-10-14 16:21:02,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-10-14 16:21:02,226 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-14 16:21:02,228 INFO sqlalchemy.engine.Engine SELECT orders.`OrderID` AS `orders_OrderID`, orders.`CustomerID` AS `orders_CustomerID`, orders.`OrderDate` AS `orders_OrderDate`, orders.`OrderStatus` AS `orders_OrderStatus`, orders.`EstimatedDeliveryTime` AS `orders_EstimatedDeliveryTime`, orders.`TotalPrice` AS `orders_TotalPrice`, orders.`DiscountApplied` AS `orders_DiscountApplied`, orders.`IsGrouped` AS `orders_IsGrouped`, orders.`DeliveryPersonID` AS `orders_DeliveryPersonID`
FROM orders
WHERE orders.`OrderStatus` = %(OrderStatus_1)s
2024-10-14 16:21:02,229 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'OrderStatus_1': 'Preparing'}
2024-10-14 16:21:02,230 INFO sqlalchemy.engine.Engine ROLLBACK
2024-10-14 16:21:02,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-14 16:21:02,232 INFO sqlalchemy.engine.Engine SELECT orders.`OrderID` AS `orders_OrderID`, orders.`CustomerID` AS `orders_CustomerID`, orders.`OrderDate` AS `orders_OrderDate`, orders.`OrderStatus` AS `orders_OrderStatus`, orders.`EstimatedDeliveryTime` AS `orders_EstimatedDeliveryTime`, orders.`TotalPrice` AS `orders_TotalPrice`, orders.`DiscountApplied` AS `orders_DiscountApplied`, orders.`IsGrouped` AS `orders_IsGrouped`, orders.`DeliveryPersonID` AS `orders_DeliveryPersonID`
FROM orders
WHERE orders.`OrderStatus` = %(OrderStatus_1)s
2024-10-14 16:21:02,232 INFO sqlalchemy.engine.Engine [cached since 0.003546s ago] {'OrderStatus_1': 'Preparing'}
2024-10-14 16:21:02,233 INFO sqlalchemy.engine.Engine ROLLBACK

KeyboardInterrupt:

In [10]:
%%sql
SELECT * FROM pizza;

 * mysql://root:***@localhost/pizza_project
10 rows affected.

[(1, 'Pizza 0', 'Description 0', Decimal('7'), 1, 0),
 (2, 'Pizza 1', 'Description 1', Decimal('8'), 1, 0),
 (3, 'Pizza 2', 'Description 2', Decimal('14'), 0, 0),
 (4, 'Pizza 3', 'Description 3', Decimal('19'), 0, 1),
 (5, 'Pizza 4', 'Description 4', Decimal('9'), 1, 0),
 (6, 'Pizza 0', 'Description 0', Decimal('15'), 0, 1),
 (7, 'Pizza 1', 'Description 1', Decimal('20'), 1, 0),
 (8, 'Pizza 2', 'Description 2', Decimal('17'), 1, 0),
 (9, 'Pizza 3', 'Description 3', Decimal('17'), 0, 0),
 (10, 'Pizza 4', 'Description 4', Decimal('17'), 0, 0)]