In [5]:
%load_ext sql
%sql mysql://root:password@localhost/pizza_project

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost/pizza_project
13 rows affected.

[('customer',),
 ('customerdiscount',),
 ('delivery',),
 ('deliveryperson',),
 ('dessert',),
 ('discountcode',),
 ('drink',),
 ('earningsreport',),
 ('ingredient',),
 ('order',),
 ('orderitem',),
 ('pizza',),
 ('pizzaingredient',)]

In [7]:
%%sql
DESC CustomerDiscount;

 * mysql://root:***@localhost/pizza_project
2 rows affected.

[('CustomerID', 'int', 'NO', 'PRI', None, ''),
 ('DiscountCodeID', 'int', 'NO', 'PRI', None, '')]

In [8]:
%%sql
SELECT * FROM Dessert;

 * mysql://root:***@localhost/pizza_project
11 rows affected.

[(1, 'Chocolate Cake', Decimal('5')),
 (2, 'Dessert 0', Decimal('6')),
 (3, 'Dessert 1', Decimal('7')),
 (4, 'Dessert 2', Decimal('5')),
 (5, 'Dessert 3', Decimal('3')),
 (6, 'Dessert 4', Decimal('5')),
 (7, 'Dessert 0', Decimal('3')),
 (8, 'Dessert 1', Decimal('4')),
 (9, 'Dessert 2', Decimal('3')),
 (10, 'Dessert 3', Decimal('6')),
 (11, 'Dessert 4', Decimal('5'))]

In [10]:
%%sql
SELECT * FROM pizza;

 * mysql://root:***@localhost/pizza_project
10 rows affected.

[(1, 'Pizza 0', 'Description 0', Decimal('7'), 1, 0),
 (2, 'Pizza 1', 'Description 1', Decimal('8'), 1, 0),
 (3, 'Pizza 2', 'Description 2', Decimal('14'), 0, 0),
 (4, 'Pizza 3', 'Description 3', Decimal('19'), 0, 1),
 (5, 'Pizza 4', 'Description 4', Decimal('9'), 1, 0),
 (6, 'Pizza 0', 'Description 0', Decimal('15'), 0, 1),
 (7, 'Pizza 1', 'Description 1', Decimal('20'), 1, 0),
 (8, 'Pizza 2', 'Description 2', Decimal('17'), 1, 0),
 (9, 'Pizza 3', 'Description 3', Decimal('17'), 0, 0),
 (10, 'Pizza 4', 'Description 4', Decimal('17'), 0, 0)]