In [ ]:
# Import necessary library
import subprocess

# Reset the database
%load_ext sql
%sql mysql://root:password@localhost/

# Drop and recreate the database
%%sql
DROP DATABASE IF EXISTS pizza_project;
CREATE DATABASE pizza_project;

# Apply the schema
schema_file = r"C:\Users\igors\OneDrive\Dokumenty\##Studia\Rok2\Period1\PizzaProject\pizzaProjectSchema.sql"
subprocess.run(["mysql", "-u", "root", "-p", "pizza_project"], input=open(schema_file).read(), text=True)

In [3]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost/pizza_project
13 rows affected.

[('customer',),
 ('customerdiscount',),
 ('delivery',),
 ('deliveryperson',),
 ('dessert',),
 ('discountcode',),
 ('drink',),
 ('earningsreport',),
 ('ingredient',),
 ('order',),
 ('orderitem',),
 ('pizza',),
 ('pizzaingredient',)]

In [9]:
%%sql
DESC Dessert;

 * mysql://root:***@localhost/pizza_project
3 rows affected.

[('DessertID', 'int', 'NO', 'PRI', None, ''),
 ('Name', 'varchar(255)', 'YES', '', None, ''),
 ('Price', 'decimal(10,0)', 'YES', '', None, '')]

In [10]:
%%sql
INSERT INTO Dessert (DessertID, Name, Price) VALUES (1, 'Chocolate Cake', 5.00);
SELECT * FROM Dessert;

 * mysql://root:***@localhost/pizza_project
1 rows affected.
1 rows affected.

[(1, 'Chocolate Cake', Decimal('5'))]