In [1]:
%load_ext sql
%sql mysql://root:password@localhost/pizza_project

In [2]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost/pizza_project
13 rows affected.

[('customer',),
 ('customerdiscount',),
 ('delivery',),
 ('deliveryperson',),
 ('dessert',),
 ('discountcode',),
 ('drink',),
 ('earningsreport',),
 ('ingredient',),
 ('order',),
 ('orderitem',),
 ('pizza',),
 ('pizzaingredient',)]

In [3]:
%%sql
DESC Dessert;

 * mysql://root:***@localhost/pizza_project
3 rows affected.

[('DessertID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'varchar(255)', 'YES', '', None, ''),
 ('Price', 'decimal(10,0)', 'YES', '', None, '')]

In [5]:
%%sql
SELECT * FROM Dessert;

 * mysql://root:***@localhost/pizza_project
2 rows affected.

[(1, 'Chocolate Cake', Decimal('5')), (2, 'Ice Cream', Decimal('4'))]