In [15]:
%load_ext sql
%sql mysql://root:password@localhost/pizza_project

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
%%sql
SHOW TABLES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/pizza_project
13 rows affected.

[('customer',),
 ('customerdiscount',),
 ('delivery',),
 ('deliveryperson',),
 ('dessert',),
 ('discountcode',),
 ('drink',),
 ('earningsreport',),
 ('ingredient',),
 ('order',),
 ('orderitem',),
 ('pizza',),
 ('pizzaingredient',)]

In [17]:
%%sql
DESC Dessert;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/pizza_project
3 rows affected.

[('DessertID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'varchar(255)', 'YES', '', None, ''),
 ('Price', 'decimal(10,0)', 'YES', '', None, '')]

In [18]:
%%sql
INSERT INTO Dessert (DessertID, Name, Price) VALUES (1, 'Chocolate Cake', 5.00);
SELECT * FROM Dessert;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/pizza_project
1 rows affected.
1 rows affected.

[(1, 'Chocolate Cake', Decimal('5'))]